body, div, span, header, 
footer, nav, section, aside, 
article, ul, dl, dt, dd, li, a, p, 
h1, h2, h3, h4,h5, h6, i, b, textarea, button, 
input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    /*color: #333;*/
    box-sizing: border-box;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
}
html,body{
    height: 100%;
    width: 100%;
    /*background-color: #F5F5F5;*/
    /*background: #303d52;*/
}
*{
    -webkit-box-sizing: border-box;
             box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
/*去掉苹果默认按钮样式*/
input[type="button"], input[type="submit"], input[type="search"], input[type="reset"],textarea {
    -webkit-appearance: none;
}
input:focus ,textarea:focus{
    outline: none;
}
textarea{
    border: none !important;
    resize: none !important;
    outline: none !important;
}
input[type="text"],input[type="tel"]{
     line-height: 0; 
     height: auto; 
     margin-bottom: 0; 
     padding: 0; 
     -webkit-user-select: text; 
}
/*圆角 .5px 边框*/
.radius-border{
    position: relative;
}
@media screen and (-webkit-min-device-pixel-ratio: 2){
    .radius-border:before{
        content: "";
        pointer-events: none; /* 防止点击触发 */
        box-sizing: border-box;
        position: absolute;
        width: 200%;
        height: 200%;
        left: 0;
        top: 0;
        border-radius: 8px;
        border:1px solid #999;
        /*-webkit-transform(scale(0.5));*/
        /*-webkit-transform-origin: 0 0;*/
        /*transform(scale(0.5));*/
        transform-origin: 0 0;
    }
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
} 
.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}
.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.hide{
    display: none;
}

.show{
    display: block;
}
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*flex 内部有行内元素会在华为自带浏览器和uc 浏览器崩溃 解决：将行内变为块元素 */
.flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
/*flex-v：盒模型垂直布局*/
.flex-v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*水平居中*/
.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*垂直居中*/
.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/*两端对齐*/
.justify-space-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*背景透明*/
.bg-transparent{
    background: transparent;

}
img{
    display: block;
    width: 100%;
}

input{
    /*outline: none;*/
    border: none;
    width: 100%;
    /* 去掉黄色背景 */
    /*-webkit-box-shadow: 0 0 0px 1000px #fff inset;*/
            /*box-shadow: 0 0 0px 1000px #fff inset;*/
}
a{
    text-decoration: none;
    display: block;
}
body{
    /*background: #f4f4f4;*/
    font-family: square, "微软雅黑","华文细黑", Arial, Helvetica, sans-serif, Times, serif;
} 
.container{
    width: 100%;
    /*padding-top: 14%;*/
}
.re-padding-top{
    padding-top: 0;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.fixed{
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 10;
}
.float-lt{
    float: left;
}
.float-rt{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.hidden{
    overflow: hidden;
}
.clear{
    clear: both;
}
.relative{
    position: relative;
}
.posi-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.posi-y-center{
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.posi-right{
    position: absolute;
    top: 0;
    right: 0;
}
.posi-x-center{
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.posi-bottom-center{
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.img-inline-block{
    display: inline-block;
    vertical-align: middle;
}
.nowrap{ 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.no-border{
    border: none !important;
}
.bg-tran{
    background: transparent !important;
}
.bg-fff{
    background: #fff;
}
.bg-f4{
    background: #f4f4f4;
}
.btn100{
    width: 100%;
    border-radius: 0.096rem;
    margin: 0 auto;
    padding: 4% 0;
    margin-left: -5%;
    text-align: center;
    font-size: 0.544rem;
}
.btn90{
    width: 90%;
    border-radius: 0.096rem;
    margin: 0 auto;
    padding: 4% 0;
    text-align: center;
    font-size: 0.544rem;
}
.font-12{
    font-size: 0.384rem !important;
}

/*
.alert-mask{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    -webkit-animation: alertani 2s forwards;
    animation: alertani 2s forwards;
}
.alert-msg{
    position: fixed;
    bottom: 50%;
    left: 50%;
    z-index: 10010;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    color: #fff;
    min-width: 30%;
    max-width: 80%;
    white-space:nowrap;
    background: rgba(0,0,0,.9);
    font-size: 1.5rem;
    text-align: center;
    padding: 2% 5%;
    border: 1px solid #666;
    border-radius: .5rem;
}

/*
.ui-loader-default{ display:none}
.ui-mobile-viewport{ border:none;}
.ui-page {padding: 0; margin: 0; outline: 0} 
*/
/*
@keyframes alertani{
    from{
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    to{
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@-webkit-keyframes alertani{
    from{
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    to{
        opacity: 0;
        width: 0;
        height: 0;
    }
}
*/



